body{
xbackground: url(backblue.png) rgb(205,225,244);
xbackground: #069FFF  url(/images/bg.jpg) repeat-x left top;
xbackground: rgb(165,208,252)  url(/images/bg.jpg) repeat-x left top;
background: #EAEAEA  url(/ornate.jpg);
xbackground-repeat: repeat-x;
font-family: "Trebuchet MS", Trebuchet, Arial, Geneva, sans-serif;
font-size:90%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Times New Roman, Times, serif;
}

td.redx
{
    background-color:#CC9999;
    background:#CC9999;
    test:rgb(255,129,157);
    
}

#logo
{
    padding:10px;
}

#gbox
{
 border: 1px solid black;
 padding: 5px;
 margin: 10px;
}

#gad
{
  border: 1px solid black;
 padding: 2px;
 width: 728px;
 background: white;
}

#gad2
{
  border: 1px solid black;
 padding: 2px;
 background: white;
 margin-right: 10px;
}

img
{
    border:0px;
}

#text
{
    padding-left:20px;
    padding-right:20px;
}

#contents
{
	padding:10px;
    border-top: 5px solid rgb(146,25,0);
    border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	width:780px;
	backgroundzz: white;
	}

#header
{
	padding:10px;
	font-face:Arial;
	font-size:25px;
	xwidth:100%;
}

#ad
{
	float:right;
	width:178px;
}

#all
{
    background: url(images/backsmall.png) white;
    background-repeat: repeat-x;

	width:800px;
	text-align:justify;
}
#top
{
	width:800px;
	height:90px;
	text-align:left;
}

blockquote {
  background: transparent url(quoleft.png) left top no-repeat;
  padding-left:50px;
}
blockquote div {
  padding: 0 48px;
  background: transparent url(quoright.png) right bottom no-repeat;
}

td.redgbg {
	background-color: #FFBBDD; color: black; padding:5px;
}

table.tb {
border: 1px solid black;

}

#etym
{
    font-size:80%;
    font-style:italic;
    text-align:right;
    }