/* Los estilos CSS colocados aquí se aplicarán para todos los usuarios que usen la piel Vector. */

/* Símbolos para artículos buenos y destacados */ 
div.topicon {
    position: absolute;
    top: -35px;
    margin-right: 1px;
    display: block !important;
}

/* Símbolos para buenos y destacados en interwikis */
#mw-panel div.portal div.body ul li.destacado {
  background: url("http://upload.wikimedia.org/wikipedia/commons/d/d4/Monobook-bullet-star.png") no-repeat 0% 0%;
  margin-left: -10px;
  padding-left: 10px;
}
 
#mw-panel div.portal div.body ul li.bueno {
  background: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Art%C3%ADculo_bueno.svg/10px-Art%C3%ADculo_bueno.svg.png") no-repeat 0% 0%;
  margin-left: -10px;
  padding-left: 10px;
}


/** CSS para las coordenadas en esquina **/
#coordinates {
	display:inline;
	position:absolute; z-index:1; border:none; background:none; right:0; top:-1.4em; float:right; margin:0;	padding:0;
	line-height:11px; text-align:right; text-indent:0; font-size:10px; text-transform:none; white-space:nowrap;
}

pre {
  font-size: 10pt;
}